@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
htnl, body{
    height: 100%;
}
#clock{
  
    color: #fff;
    font-family: 'Bungee Shade', cursive;
    font-size: 70px;
    position: relative;
    top: 50%;
    margin-top: 280px;
    text-align: center;
    }